@model List<MaterialModel>;
@{
    ViewData["Title"] = "Materiais";
}

<div id="ProjetosTitulo">
    <h1>@ViewData["Title"]</h1>
    <a class="btn btn-dark btn-lg btn-block" role="button" asp-controller="Material" asp-action="Criar">
        Adicionar material +
    </a>
</div>

<div id="Tabela">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">UM</th>
                <th scope="col">Valor Padrão</th>
            </tr>
        </thead>
        <tbody>
             @if (Model != null && Model.Any())
            {
                foreach (MaterialModel material in Model)
                {
                    <tr>
                        <th scope="row">@material.Id</th>
                        <td>@material.Descricao</td>
                        <td>@material.Um</td>
                        <td>@material.ValorPadrao</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>


