@model UsuarioModel
@{
    ViewData["Title"] = "Perfil";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<section class="card mb-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="mt-4">
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">@Model.Nome</h5>
                    <p class="text-muted">@Model.Email</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div>
            <div class="card-body">
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-0">Nome Completo</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-muted mb-0">@Model.Nome</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-muted mb-0">@Model.Email</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-0">Número de telefone</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-muted mb-0">@Model.Telefone</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
<div class="row mb-4" style="justify-content: center; gap:10px">
    <a asp-area="" asp-controller="Usuario" asp-action="AlterarSenha" class="btn btn-primary" style="min-width:150px; max-width:200px;">Alterar Senha</a>
    <a asp-area="" asp-controller="Usuario" asp-action="Deletar" class="btn btn-dark" style="min-width:150px; max-width:200px;">Excluir Conta</a>
    <a asp-area="" asp-controller="Login" asp-action="Deslogar" class="btn btn-danger" style="min-width:150px; max-width:200px;">Deslogar</a>
</div>
