@model List<OrcamentoModel>

@{
    ViewData["Title"] = "Orcamento";
}

<div id="ProjetosTitulo">
    <h1>@ViewData["Title"]</h1>
    <a asp-area="" asp-controller="Orcamento" asp-action="Criar" class="btn btn-dark btn-lg btn-block">
        Adicionar orçamento +
    </a>
</div>

@if (Model != null && Model.Any())
{
    foreach (OrcamentoModel orcamento in Model)
    {
        <div id="listaStl">
            <div class="NomeDoProjeto">
                <h5>@orcamento.Nome</h5>
            </div>
            <div class="BotaoLateral">
                <!-- Botao visualizar -->
                <a asp-route-id="@orcamento.Id" asp-area="" asp-controller="Orcamento" asp-action="Visualizar" type="button" class="btn btn-lg btn-block btnCrud">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <!-- Botao editar -->
                <a asp-route-id="@orcamento.Id" asp-area="" asp-controller="Orcamento" asp-action="Editar" type="button" class="btn btn-lg btn-block btnCrud">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                <!-- Botao excluir -->
                <a asp-route-id="@orcamento.Id" asp-area="" asp-controller="Orcamento" asp-action="Deletar" type="button" class="btn btn-lg btn-block btnCrud">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    }
}